@font-face {
  font-family: cove;
  src: url("/cove.ttf");
}
body {
  background-color: #273727;
  color: #D4DAD5;
  font-family: cove;
  font-size: 32px;
  text-align: center;
  transition: all 1s ease-in-out;
}
h1 {
  line-height: 0.35;
}
h2 {
  line-height: 0.35;
}
a:link {
  color: #D4AF37;
  text-decoration: none;
  display: inline-block;
  transition: all 1s ease-in-out;
}
a:visited {
  color: #B87333;
  text-decoration: none;
  display: inline-block;
  transition: all 1s ease-in-out;
}