@font-face {
    font-family: 'agavenf';
    src: url('agavenf.ttf');
  }
html {
    background-color: #334;
    color: #fff;
}
body {
    font-size: 24px;
    font-family: agavenf, sans-serif;
}
header {
    text-align: center;
    border-bottom: 1px solid white;
}
nav {
    float: left;
    border-right: 1px solid white;
    margin-right: 1em;
    padding-right: 1em;
}
a {
    color: #0aa;
    text-decoration: none;
}
a:hover {
    font-weight: 900;
    color: #aaa;
}