@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CASL@300,1&display=swap');
html {
    background-color: #334;
    color: #fff;
}
body {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-areas: "header header"
    "nav article"
    "footer footer";
    font-size: 20px;
    font-family: 'Recursive', sans-serif;
}
header {
    grid-area:header;
    text-align: center;
    border-bottom: 1px solid white;
}
footer {
    grid-area:footer;
    text-align: center;
    border-top: 1px solid white;
}
nav {
    grid-area: nav;
    border-right: 1px solid white;
    margin-right: 1em;
    padding-right: 1em;
}
article {
    grid-area: article;
}
a {
    color: #0aa;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}