@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Inter&display=swap');

:root {
  --bg: #043770;
  --link: #1F7EEA;
  --visited: #B486BC;
  --primary: #515252;
  --secondary: #051D38;
  --text: #FFF;
  --accent: #;
}

body {
  background: var(--bg);
  padding: 5rem 3rem;
  color: var(--text);
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

section {
  display: flex;
  flex-wrap: wrap;
}

section > div {
  background: var(--primary);
  margin: 0.5rem;
  padding: 0rem;
  border-radius: 8px;
  font-size: 1rem;
  color: var(--text);
}

header {
  display: flex;
  background: var(--secondary);
  margin: 0;
  padding-left: 6px;
  border-radius: 8px 8px 0 0;
  min-height: 32px;
  font-size: 1rem;
  align-items:center;
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

header > span {
  margin: 0;
  margin-right:-16px;
}

header > p {
  margin: 0;
  margin-left:16px;
}

article {
  margin: 0.5rem;
  padding: 0;
  font-size: 1rem;
  color: var(--text);
}

footer {
  position: fixed;
  bottom: 0;
  color: var(--text);
  background-color: var(--primary);
  border-radius: 8px 8px 0 0;
}

footer > a {
  border-left: var(--bg) solid 1px;
  padding-left: 4px;
}

a:link {
  color: var(--link);
}

a:visited {
  color: var(--visited);
}