@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');

@font-face {
  font-family: Sedenion; /* set name */
  src: url(m/f/Sedenion-Regular.ttf); /* url of the font */
}

:root {
  --bg: #2e3436;
  --link: #729fcf;
  --visited: #d68bcd;
  --primary: #212526;
  --secondary: #000000;
  --text: #eeeeec;
}

body {
  background: var(--bg);
  padding: 1rem 2rem;
  color: var(--text);
  font-family: 'Gidole', sans-serif;
  font-size: 18px;
}

section {
  display: inline;
}

details {
  border-radius: 4px;
  display: block;
  background: var(--primary);
  margin: 0.5rem;
  width: fit-content;
}

details[open] {
  display: block;
}

#extras details {
  display: inline-block;
}

summary {
  background-image: linear-gradient(var(--secondary), var(--primary));
  margin: 0;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

article {
  margin: 0.5em;
}

footer {
  padding: 0 4px 2px 2px;
  border-radius: 4px;
  display:inline-block;
  background-image: linear-gradient(var(--secondary), var(--primary));
  cursor: default;
}

footer > a {
  border-left: var(--bg) solid 1px;
  padding-left: 4px;
}

a:link {
  text-decoration: wavy underline;
  color: var(--link);
}

a:visited {
  color: var(--visited);
}

hr {
  color: var(--text);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-family: 'Sedenion', sans-serif;
}

h6 {
  overflow: hidden;
  text-align: center;
  cursor: default;
}

h6::before,
h6::after {
  background-color: var(--text);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  margin: auto;
  width: 50%;
}

h6::before {
  right: 0.5em;
  margin-left: -50%;
}

h6::after {
  left: 0.5em;
  margin-right: -50%;
}

.image-item {
  max-width: 400px;
  display: block;
}

.image-item > a > img {
  object-fit: contain;
  width: 100%;
  max-height: 400px;
}

#main-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

#games, #art, #code, #extras {

}
